RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ /wiki/index.php?title=$1 [L,QSA]

RewriteCond %{HTTP_HOST} ^wiki.wontology.org$ [OR]
RewriteCond %{HTTP_HOST} ^www.wiki.wontology.org$
RewriteRule ^/?$ "http\:\/\/wiki\.wontology\.org\/Main_Page" [R=301,L]

